.container{
    display: flex;
    width: 1600px;
}


.Header{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Header body{
    font-family: sans-serif;
}

.Header nav{
    background: #222;
    padding: 5px 20px;
    height: 100px;
}

.Header ul{
    padding-top: 25px;
    list-style: none;
    font-size: 35px;
}

.Menu{
    display: flex;
    justify-content: start;
    align-items: center;
}

.Menu li h1{
    color : white;
}

.problemContainer{
    width: 800px;
    height: 100%;
    padding: 10px;
}

.problemContainer h1{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 0;
}

.inputFormat{
    margin-top: 20px;
}
.inputFormat h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 0;
}

.outputFormat{
    margin-top: 20px;
}
.outputFormat h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 0;
}

.table{
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
    justify-content: center;
}

.table td{
    padding: 20px;
}

.ide{
    width: 800px;
}
.language{
    display: flex;
    width: 100%;
}

.language h3{
    font-size: 20px;
}

.language select{
    margin-left: 400px;
}

.customInput h4{
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.customInput{
    z-index: -1;
}
textarea{
    z-index: -100px;
    padding: 0;
    margin: 0;
}
.wrapper{
    position: relative;
}
.buttons{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
}

.btn-run{
    padding: 0 10px ;
    margin-right: 20px;
    background-color: blue;
    color: aliceblue;
}

.btn-submit{
    padding: 0 10px ;
    background-color: greenyellow;
    color: black;
}